@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

table {
  width: 100%;

  th {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    height: 56px;
  }

  th[align=""],
  th:not([align]) {
    text-align: left;
  }

  td {
    font-size: 15px;
    height: 48px;
  }

  td,
  th {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
}
